html {
	min-height: 100%;
	display: flex;
}
body{margin: 0; padding: 0 15px; display: flex; flex-direction: column; flex:auto;}
header, main, footer{width:100%; max-width: 960px; min-width: 430px; box-sizing: border-box;}
header{background: rgb(255, 255, 0); margin: 0 auto; padding: 0 10px; display: flex; flex-direction: column;}
main{border: solid grey 2px; margin: auto; flex-grow: 1;}
footer{background: #222; margin: auto; padding: 15px;}
nav{display: flex; flex-wrap: wrap; justify-content: space-around;}
a{max-width: 400px; min-width: 200px; text-align: center;}